#deeppink{
    color: deeppink;

}
#crimson{
    font-size: 19px; color: crimson;
    
}
header{
width: 1300px;
height: 240px;
border: 2px solid deeppink;
margin: 0px auto;
text-align: center

}
nav{
    width: 1300px;
    height: 240px;
    border: 2px solid deeppink;
    margin: 0px auto;
    text-align: center
    
    }